<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - ABOUT US</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header}}
            <div class="contentContainer">
                <div class="row">
                    <main class="col-md-12">
                        <br>
                        <h1>Welcome to JASA online pharmacy!</h1>
                        <br>
                        <h2>About us</h2>
                        <p>E-Pharmacy is an online service for the sale and delivery of health and beauty products. You can place an order with home delivery, as well as pick it up at your own expense. E-Pharmacy was founded in 2022. We simplify the purchase of health products for those who care about it. We guarantee the quality of goods. E-Pharmacy cooperates with more than 100 licensed distributors, more than 50 of the largest official manufacturers have direct contracts. All goods are certified, storage and transportation conditions are strictly observed, including for thermolabile drugs (requiring storage in a refrigerator).

E-Pharmacy is a convenient online medicine store and a specialized online help system for automated search for rare and common medicines. Using the services of our company, you can buy wholesale and retail health and beauty products, as well as medicines in Canada at the lowest prices. At the same time, it is not at all necessary to have discount coupons and know secret promo codes - we always offer low prices and favorable conditions. The online pharmacy works around the clock, so our customers have the opportunity to clarify the list of available drugs with a specific active ingredient, compare prices, check the availability of drugs in-network pharmacies in the region and order quality pharmaceutical products inexpensively with home delivery at any time of the day. An intuitive search and comparison system allows you to find the required trade name, find out its rating in the reference, clarify how much it costs and whether it is sold without a prescription in a matter of seconds. By placing an order in E-Pharmacy, you can forget about the tedious search for medicines in the city when you are sick, feel unwell, or just don’t want to leave your home — couriers of our central city network will become your reliable assistants.

</p>
                    </main>
                </div>                
            </div>
            {{> footer}}
        </div>
	</body>
</html>