<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header}}
            <div class="contentContainer">
                <div class="row">
                    <main class="col-md-12">
                        <br>
                        <h1>Welcome to JASA online pharmacy!</h1>
                        <br>
                        <h2>Our product categories:</h2>
                        <ul>
                            <li><a href = "#">Beauty</a></li>
                            <li><a href = "#">Flu / Allergy</a></li>
                            <li><a href = "#">Vitamins</a></li>
                            <li><a href = "#">Children Care</a></li>
                        </ul>
                        <br>
                        <h2>Most popular products:</h2>
                        <ul>
                            <li><a href = "#">Product 1</a></li>
                            <li><a href = "#">Product 2</a></li>
                            <li><a href = "#">Product 3</a></li>
                            <li><a href = "#">Product 4</a></li>
                        </ul>
                    </main>
                </div>                
            </div>
            {{> footer}}
        </div>
	</body>
</html>