<footer>                
    <p style="text-align:center">
        <a class="links" href="/about">About us</a>  |  
        <a class="links" href="/contacts">Contacts</a>  |  
        <a class="links" href="/terms">Terms of Use</a>  |  
        <a class="links" href="/prpolicy">Privacy Policy</a>  |  
        <a class="links" href="/reviews">Customers' Reviews</a>  |  
        <a class="links" href="/articles">Articles</a>
        <br/><br/>
        &copy; 2022 JASA-pharmacy
    </p>
</footer>