<header>
    <a class="brand" href="/">JASA Online Pharmacy <img class="logo" src="/images/bag1.jpg" alt="JASA Pharmacy"></a>
	<ul>
        <a href="/login"><img class="icon" src="/images/user.png" alt="User's Log In"></a>
        <a href="/doctor_login"><img class="icon" src="/images/doctor1.png" alt="Doctor's Log In"></a>
		<a href="/admin_login"><img class="icon" src="/images/admin1.png" alt="Admin's Log In"></a>
	</ul>
</header>