<header>
    <a class="brand" href="/"> <img class="logo" src="/images/bag1.jpg" alt="JASA Pharmacy">JASA Online Pharmacy</a>
	<ul>
        {{#if login_id}}
            Welcome <em>{{user_first_name}} {{user_last_name}}</em>!
            | <a class="button" href="/profile">Profile</a>
            | <a class="button" href="/dashboard">Dashboard</a>
            {{#if isAdmin}}
                | <a class="button" href="/admin/dashboard">Admin</a>
            {{/if}}
            {{#if isDoctor}}
                | <a class="button" href="/doctor/dashboard">Doctor</a>
            {{/if}}
            | <a class="button" href="/logout">Logout</a>
        {{else}}
            <a class="button" href="/login">LogIn</a>
        {{/if}}
	</ul>
</header>