<header>
    <a class="brand" href="/"> <img class="logo" src="/images/logo.png" alt="JASA Pharmacy">JASA Online Pharmacy</a>
	<ul>
        {{#if login_id}}
            Welcome <em>{{user_first_name}} {{user_last_name}}</em>! 
            <div class="clear"></div>
             <a  href="/profile">Profile</a>
            | <a  href="/dashboard">Dashboard</a>
            {{#if isAdmin}}
                | <a href="/admin/dashboard">Admin</a>
            {{/if}}
            {{#if isDoctor}}
                | <a href="/doctor/dashboard">Doctor</a>
            {{/if}}
            | <a href="/logout">Logout</a>
        {{else}}
            <a class="button" href="/login">LogIn</a>
        {{/if}}
	</ul>
</header>