<header>
    <a class="brand" href="/">JASA Online Pharmacy <img class="logo" src="/images/bag1.jpg" alt="JASA Pharmacy"></a>
	<ul>
        {{#if username}}
            Welcome <em>{{firstName}} {{lastName}}</em>!
            | <a href="/profile">Profile</a>
            | <a href="/logout">Logout</a>
        {{else}}
            <a href="/login"><img class="icon" src="/images/user.png" alt="User's Log In"></a>
            <a href="/doctor_login"><img class="icon" src="/images/doctor1.png" alt="Doctor's Log In"></a>
		    <a href="/admin_login"><img class="icon" src="/images/admin1.png" alt="Admin's Log In"></a>
        {{/if}}
	</ul>
</header>