<header>
    <a class="brand" href="/">JASA Online Pharmacy <img class="logo" src="/images/bag1.jpg" alt="JASA Pharmacy"></a>
	<ul>
        {{#if login_id}}
            Welcome <em>{{user_first_name}} {{user_last_name}}</em>!
            | <a href="/profile">Profile</a>
            | <a href="/dashboard">Dashboard</a>
            {{#if isAdmin}}
                | <a href="/admin/dashboard">Admin</a>
            {{/if}}
            {{#if isDoctor}}
                | <a href="/doctor/dashboard">Doctor</a>
            {{/if}}
            | <a href="/logout">Logout</a>
        {{else}}
            <a href="/login">LogIn</a>
        {{/if}}
	</ul>
</header>