<!DOCTYPE html>
<html>
    <head>
        <title>ADMIN LOGIN</title>
        <link rel="stylesheet" href="/css/theme.css" />
    </head>
    <body>
        
        <div class="container">
            
            {{> header }}

            <div class="contentContainer">
                <h1>ADMIN LOGIN</h1>
                <form method="post" action="/login">
                    <label class="fixedlabel">Username</label>
                    <input type="text" name="username">
                    <br/>
                    <label class="fixedlabel">Password</label>
                    <input type="password" name="password">
                    <br/>
                    <label class="fixedlabel"></label>
                    <button type="submit">Login</button>
                </form>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/admin_register">SignUp</a></li>
                </ul>
            </div>
            
            {{> footer }}

        </div>

    </body>
</html>