<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - DASHBOARD</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header user}}
            <div class="contentContainer">
                <h1>ADMIN DASHBOARD</h1>
                <p>Hello {{user.user_first_name}} {{user.user_last_name}}</p>
                <p>Email: {{user.email}}</p>
                <p>You are authorized to be here</p>
                <p><a href="/logout">Logout</a></p>
            </div>
            {{> footer}}
        </div>
	</body>
</html>