<!DOCTYPE html>
<html>

<head>
    <title>JASA online pharmacy</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
</head>

<body>
    <div class="container">
        {{> header}}
        <div class="contentContainer">
            <div class="row">
                <main>
                    <h1>Your cart</h1>   
                    <div id="parent">
                        <div id="left">
                            <img class="productImg" src="/images/Capture.jpg" alt="Product 4" width="100" height="100">
                        </div>
                        <div id="right">
                            Product Name <br/>
                            Product quantity <br/>
                            Price
                        </div>
                    </div>                     
                    <h2>Total: 6.00</h2>
                    <button>Proceed to checkout</button>
                </main>    
            </div>
        </div>
        {{> footer}}
    </div>
</body>
</html>