<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - CONTACT US</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header user}}
            <div class="contentContainer">
                <br>
                <h1>Customers Service</h1>
                <br>
                <h2>Please, leave your contact information and we will back to you!</h2>
                <p>Please, add form here.</p>   
            </div>
            {{> footer}}
        </div>
	</body>
</html>