<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - DASHBOARD</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header user}}
            <div class="contentContainer">
                <h1>DOCTOR DASHBOARD</h1>
                <p>Hello doctor {{user.lastName}}</p>
                <p>Email: {{user.email}}</p>
                <p>What do you want to do:
                    <ul>
                        <li><a href="/doctor/prescriptions">to see previous prescriptions</a></li>
                        <li><a href="/doctor/prescription">to make a new prescription</a></li>
                    </ul>

                </p>
                <p><a href="/logout">Logout</a></p>
            </div>
            {{> footer}}
        </div>
	</body>
</html>