<!DOCTYPE html>
<html>

<head>
    <title>JASA online pharmacy</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
</head>

<body>
    <div class="container">
        {{> header user }}
        <div class="contentContainer">
            
            <h1 class="header">Welcome to JASA online pharmacy!</h1>
            
            <h4>Our product categories:</h4>
            <ul>
                <li><a class="button" href="/productListing">Beauty</a></li>
                <li><a class="button" href="/productListing">Flu / Allergy</a></li>
                <li><a class="button" href="/productListing">Vitamins</a></li>
                <li><a class="button" href="/productListing">Children Care</a></li>
            </ul>
            <div class="clear"></div>
            <h4>Most popular products:</h4>
            <ul>
                <li><a class="button" href="/product">Product 1</a></li>
                <li><a class="button" href="/product">Product 2</a></li>
                <li><a class="button" href="/product">Product 3</a></li>
                <li><a class="button" href="/product">Product 4</a></li>
            </ul>
            <div class="clear"></div>
            <h4>These links are here temporarily:</h4>
            <ul>
                <li><a class="button" href="/cart">View cart</a></li>
                <li><a class="button" href="/checkout">Checkout</a></li>
                
            </ul>
            <div class="clear"></div>
        </div>
       
    </div>
     {{> footer}}
</body>

</html>