<!DOCTYPE html>
<html>

<head>
    <title>JASA online pharmacy</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
</head>

<body>
    <div class="container">
        {{> header user}}
        <div class="contentContainer">
            <table>
                <tr>
                    <td>
                        <img class="productImg" src="/images/Capture.jpg" alt="Product 4" width="100" height="100">
                    </td>
                    <td>
                        <h1 class="productName">Product Name</h1>
                    </td>
                </tr>
            </table>
        </div>
        {{> footer}}
    </div>
</body>

</html>