<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - PRIVACY POLICY</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header}}
            <div class="contentContainer">
                <div class="row">
                    <main class="col-md-12">
                        <br>
                        <h1>Privacy policy</h1>
                        <br>
                        <h2>Please, add text here</h2>
                        <p>Please, add text here</p>
                    </main>
                </div>                
            </div>
            {{> footer}}
        </div>
	</body>
</html>