<!DOCTYPE html>
<html>
	<head>
		<title>JASA online pharmacy - REVIEWS</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/css/theme.css" type="text/css" />
	</head>

	<body>
        <div class="container">
            {{> header user}}
            <div class="contentContainer">
                <br>
                <h1>Customers' Reviews</h1>
                <br>
                <h2>Please, add text here</h2>
                <p>Please, add text here</p>  
            </div>
            {{> footer}}
        </div>
	</body>
</html>