@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

.bg-light{
    background-color:#e5e7e8!important;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.32);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.32);
}

.brand{
    font-size:2rem;
    font-family: Dancing Script;
    text-shadow: 1px 1px black;
    text-decoration:none;
}

.brand:focus, .brand:hover{
    color:#2d556e;
    text-decoration:none;
    font-family: Dancing Script;  
}

.links{
    font-family: Dancing Script;
    color: #3f6a85;
    font-size:1.5rem;
    text-decoration:none;
}
.links:focus, .links:hover{
    color:#3f6a85;
    font-family: Dancing Script;
    font-size:1.5rem;
}

body, html {
    background: rgb(236, 236, 236);
    width: 100%;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #3f6a85;
    font-family: Dancing Script;
    text-shadow: 1px 1px black;
}

a{
    color:#3f6a85;
    text-decoration:none;
    background-color:transparent;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover{
    color:#2d556e;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: none;
    border-right: none;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(odd) {background-color: #96b6cc;}

table{
    width: 70%;
}
th {
    height: 70px;
}
td {
    height: 30px;
}
.icon {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0px;
    width: 40px;
    height: 40px;
}

.logo {
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 10px;
    padding: 0px;
    height: 50px;
}

.container {
    width: 800px;
    border: solid 1px rgb(197, 197, 197);
    margin: 0 auto 0 auto;
    background-color: whitesmoke;
}

.container p, li{
    font-family: Arial, Helvetica, sans-serif;
}

.contentContainer{
    padding: 10px;
}

label{
    display:block;
}

.form-item{
    margin-bottom: 10px;
}
#parent {
    display: flex;
    justify-content: space-around;
  }
  
  #left {
    border-bottom: 1px solid lightgray;
    width: 100px;
  }
  
  #right {
    border-bottom: 1px solid lightgray;
    width: 40%;
  }